@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

:root {
    /* font colors */
    --main-font-color: #ecf0f1;
    --cell-font-color: #000;
    --btn-font-color: #000;

    /* colors */
    --background-color: #34495e;
    --cell-color: #ecf0f1;
    --winning-cell-color: #2ecc71;
    --btn-background-color: #ecf0f1;

    /* focus */
    --focus-border-color: #000;
    --focus-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--main-font-color);
}

button {
    padding: 0;
    border: none;
    color: inherit;
    background-color: transparent;
}

.btn {
    display: inline-block;
    border: solid 1px transparent;
    border-radius: 0.5em;
    padding: 0.6em 1.5em;
    color: var(--btn-font-color);
    background-color: var(--btn-background-color);
    font-size: 1.5rem;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
        background-color 0.3s ease-in-out; }

.btn:active {
    transform: translateY(1px);
}

.btn:focus {
    outline: none;
    border-color: var(--focus-border-color);
    box-shadow: var(--focus-shadow);
}

.btn:hover {
    color: var(--main-font-color);
    border-color: currentColor;
    background-color: transparent;
}

.container {
    margin: 4rem auto;
    padding: 2rem;

    display: grid;
    place-items: center;
}

.gameboard {
    width: 702px;
    height: 702px;
    margin-bottom: 4rem;

    background-color: var(--cell-color);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.gameboard > div {
    font-family: 'Bungee', cursive;
    color: var(--cell-font-color);
    display: grid;
    place-items: center;
    border: 2px solid black;
    font-size: 9rem;
}

#mode-select-btns > .btn-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 18px;
}

.column-span-all {
    grid-column: 1 / -1;
}

.announcer {
    font-size: 3rem;
}

.toggle-content {
    display: none;
}

.toggle-content.is-visible {
    display: block;
}

.highlight {
    background-color: var(--winning-cell-color);
}
