*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: lightblue;
}

.container {
    margin: 4rem auto;
    padding: 2rem;

    display: grid;
    place-items: center;
}

.gameboard {
    width: 700px;
    height: 700px;

    margin-bottom: 5rem;

    background-color: lightgrey;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.gameboard > div {
    font-family: sans-serif;
    display: grid;
    place-items: center;
    border: 2px solid black;
    font-size: 7rem;
}

.announcer {
    font-size: 3rem;
}

.toggle-content {
    display: none;
}

.toggle-content.is-visible {
    display: block;
}

.highlight {
    background-color: lightgreen;
}