@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

:root {
    --background-color: #34495e;
    --cell-color: #ecf0f1;
    --winning-cell-color: #2ecc71;

    --main-font-color: #ecf0f1;
    --cell-font-color: #000;
    --btn-font-color: #000;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--main-font-color);
}

.container {
    margin: 4rem auto;
    padding: 2rem;

    display: grid;
    place-items: center;
}

.gameboard {
    width: 700px;
    height: 700px;

    margin-bottom: 5rem;

    background-color: var(--cell-color);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.gameboard > div {
    font-family: 'Bungee', cursive;
    color: var(--cell-font-color);
    display: grid;
    place-items: center;
    border: 2px solid black;
    font-size: 7rem;
}

.announcer {
    font-size: 3rem;
}

.toggle-content {
    display: none;
}

.toggle-content.is-visible {
    display: block;
}

.highlight {
    background-color: var(--winning-cell-color);
}

.btn {
    font-size: 2rem;
    color: var(--btn-font-color);
}
