*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: lightblue;
}

.gameboard {
    width: 700px;
    height: 700px;
    background-color: lightgrey;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.gameboard > div {
    font-family: sans-serif;
    display: grid;
    place-items: center;
    border: 2px solid black;
    font-size: 7rem;
}